@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
---------------------------------------------------------------- 
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments

--------------------------------------------------------------*/

* {
	font-family: 'Montserrat', sans-serif;
	color: #382b2b;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */

/*--- 1.1 Headings ---*/

h1 span {
	display: none;
}

h1 {
	margin: 10px 0;
}

h2 {
	font-size: 60px;
}

h2, h3, caption, fieldset, h4, nav ul, footer p {
	margin: 0;
}

h2, #about h3, #about li, #about section time {
	color: #347067;
}

h3, caption {
	font-size: 20px;
}

#about h3 {
	border-bottom: 4px solid #347067;
	padding: 0 30px 10px;
}

/*--- 1.2 - Body Copy ---*/

#products > section:last-child h2, fieldset:nth-child(4) {
	margin-bottom: 100px;
}

nav a, #products section:first-child h2, a[class*="btn"], #order h2, th, td, h4, footer p {
	color: #fff;
}

p, nav li, #about li, .col-two:first-child label, .col-two p, .col-two legend, footer p, h4 {
	font-size: 14px;
	line-height: 28px;
}

nav li, .btn, #about .row p:nth-child(3) a, h3, #about li, caption, tbody td:first-child, .col-two label, .col-two p, .col-two legend {
	font-weight: 700;
}

nav li, .btn, h3, caption, th, .col-two:first-child label, .col-two p, .col-two legend, h4 {
	text-transform: uppercase;
}

#home p {
	font-size: 80px;
	padding: 60px 130px;
	background-color: rgba(255,255,255,.75);
	margin: 0 0 20px;
}

#home p, th:first-child, tbody tr td:first-child, #about .row p:last-child, form .col-two:last-child p:last-child, th:first-child, footer section:last-child {
	text-align: right;
}

#home p a {
	color: #f14537;
}

#home p a, nav a, .btn, #about .row p:nth-child(3) a {
	text-decoration: none;
}

#home p a, h2 {
	font-family: 'Lily Script One', cursive;
	font-weight: 400;
}

nav ul, h2, .subhead, h3, #about section header, #products p, td, th {
	text-align: center;
}

nav li, #about h3, footer li, #home p {
	display: inline-block;
}


#about .row p:first-child {
	margin-top: 0;
}

#about .row p {
	margin-left: 30px;
}

#about .row p:last-child, #products .col-three:nth-child(2) p:last-child {
	margin-top: 35px;
}

#products .col-three p:last-child {
	margin-top: 65px;
}

.subhead, td, th {
	font-size: 18px;
}

#order .subhead {
	margin-bottom: 40px;
}

#products .col-three h3 {
	margin-top: 40px;
}

.btn, .col-two:last-child label {
	font-size: 12px;
}

/*--- 1.3 - Buttons ---*/

.btn {
	padding: 15px 40px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/*--- 1.4 - Forms ---*/

form {
	margin-top: 50px;
	padding: 0 100px;
}

.col-two:first-child label, .col-two:first-child p, .col-two:last-child p:first-child, #about li {
	margin-bottom: 5px;
}

.col-two:first-child input, select {
	margin-bottom: 35px;
	height: 50px;
}

.col-two:first-child input, select, textarea {
	width: 470px;
}

textarea {
	height: 180px;
}

.col-two input, select, textarea, fieldset {
	border: none;
}

.col-two:last-child p:first-child {
	margin-top: 0;
}

input, textarea, select {
	padding-left: 10px;
	font-size: 14px;
}

textarea {
	padding-top: 10px;
}

.col-two:last-child input {
	margin-right: 10px;
}

form .col-three {
	margin-right: 40px;
}

form .col-three:last-child {
	margin-right: 0;
}

fieldset {
	padding: 0;
}

legend {
	margin-bottom: 10px;
}

fieldset {
	margin-bottom: 60px;
}

fieldset:nth-child(5) {
	margin-bottom: 120px;
}

form .col-three label {
	margin-bottom: 20px;
}


/*--- 1.5 - Lists ---*/

#about li {
	line-height: 22px;
}

#about li, tbody tr:nth-child(2) td:last-child, tbody tr:last-child td:last-child {
	text-align: left;
}

#about ul {
	list-style: square outside url(../img/cherry-icon.png);
}

/*--- 1.6 - Tables ---*/

table {
	border-collapse: collapse;
}

td {
	padding: 14px 40px;
}

th {
	padding: 18px 40px;
}

th:first-child {
	padding-right: 10px;
}

th:last-child {
	padding: 18px 18px;
}

tbody tr:last-child td {
	padding-bottom: 20px;
}

caption {
	padding: 20px 0;
	color: #7cc8c2;
	border-bottom: solid 4px #7cc8c2;
}

tbody tr:nth-child(2) td:last-child, tbody tr:last-child td:last-child {
	padding-left: 70px;
}

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

/*--- 2.1 - Main ---*/

nav li {
	margin-right: 80px;
	vertical-align: middle;
}

nav li:last-child {
	margin-right: 0;
}

nav ul {
	padding-left: 0;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */

/*--- 3.1 - Site Structure ---*/


.wrapper, #about > div > header, #products > section > header, #order header, .circle, table {
	margin: 0 auto;
}

#about, #products > section:last-child {
	background-color: #edf7f6;
}

#about {
	padding: 110px 0 160px;
}

#about > div > header, #products > section > header, #order header  {
	width: 475px;
}

#about img, #about .row div, #products .col-three, .col-four, .col-two:first-child, form .col-three, footer section:first-child, footer div div {
	float: left;
}

#about .row section, #products .col-three:last-child, .col-four:last-child, .col-two:last-child, form .col-three:last-child, footer section:last-child {
	float: right;
}

#about img, #about .row section {
	width: 190px;
}

#about .row div {
	width: 590px;
}


#about .row {
	padding: 0 40px;
}

#products > section {
	padding: 110px 0;
}

#products .col-three:nth-child(2) {
	margin-left: 150px;
}

#products > section:last-child div.row:nth-child(2) {
	margin-bottom: 65px;
}

#order {
	padding: 100px 0;
}

.col-two:first-child label, .col-two:first-child input, .col-two:first-child p, fieldset:nth-child(4) label{
	display: block;
}

/*--- 3.2	- Site Header ---*/

#home {
	padding: 380px 0 40px;
}

#home .bg-green {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/*--- 3.3	- Site Footer ---*/

footer section:first-child {
	width: 260px;
}

footer section:last-child {
	width: 150px;
}

footer {
	padding: 35px 0;
}


/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

#home {
	background: url(../img/hero.jpg) no-repeat center;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	
}

.circle {
	background: #fff url(../img/product-one.png) no-repeat center;
	background-size: 100px;
	width: 180px;
	height: 180px;
	-moz-border-radius: 90px;
	-o-border-radius: 90px;
	-ms-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
}

.col-three:nth-child(2) .circle {
	background: #fff url(../img/product-two.png) no-repeat center;
	background-size: 100px;
}

.col-three:last-child .circle {
	background: #fff url(../img/product-three.png) no-repeat center;
	background-size: 100px;
}


/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*--- 5.1 - Text Sizes ---*/

.subhead {
	margin: 15px 0 70px;
	line-height: 25px;
}

/*--- 5.2 - Colors ---*/

.bg-green, #products {
	background-color: #7cc8c2;
}

.btn, table, caption, footer {
	background-color: #347067;
}

/*--- 5.3 - Alignments ---*/

.wrapper {
	width: 1170px;
}

.row {
	overflow: auto;
}

.col-four {
	width: 270px;
	margin-right: 30px;
}

.col-four:last-child {
	margin-right: 0;
}

.col-two {
	width: 470px;
}

#products .col-three {
	width: 290px;
}

form .col-three {
	width: 130px;
}